@model CompanyWebsite.Models.EmailFormModel
@{
    ViewBag.Title = "Contact Us";
}

<div class="jumbotron">
    <h1>Contact</h1>
    <p class="lead">Got any questions? Let us help you.</p>
    <p><a href="../Home" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <address>
            50 St. Clair Ave East, 3rd Floor<br />
            Toronto, ON Canada M4T 1M9<br />
            <abbr title="Phone">P:</abbr>
            (416) 533-3777
        </address>

        <address>
            <strong>Sales:</strong>   <a href="mailto:Sales@reainc.net">Sales@reainc.net</a><br />
            <strong>Support:</strong> <a href="mailto:Support@reainc.net">Support@reainc.net</a><br />
            <strong>Webmaster:</strong> <a href="mailto:Webmaster@reainc.net">Webmaster@reainc.net</a>
        </address>
    </div>
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
                @Html.TextBoxFor(m => m.FromName, new { placeholder = "Your Name", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FromName)

                @Html.TextBoxFor(m => m.FromEmail, new { placeholder = "Your Email", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FromEmail)

                @Html.TextAreaFor(m => m.Message, new { placeholder = "Your Message", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Message)

                <input type="submit" class="btn btn-default" value="Send" />
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>

<style>
    .jumbotron {
        background: url(../Content/Images/Jumbotron/Crop.jpg) no-repeat top left;
        background-size: cover;
    }
</style>