@model CompanyWebsite.Models.EmailFormModel
@{
    ViewBag.Title = "Contact Us";
}

<div class="jumbotron">
    <h1>Contact</h1>
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <table>
                    <tr>
                        <td>
                            @Html.TextBoxFor(m => m.FromName, new { placeholder = "Your Name", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FromName)
                        </td>
                    </tr>
                    <tr class="blank-row"><td></td></tr>
                    <tr>
                        <td>
                            @Html.TextBoxFor(m => m.FromEmail, new { placeholder = "Your Email", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FromEmail)
                        </td>
                    </tr>
                    <tr class="blank-row"><td></td></tr>
                    <tr>
                        <td>
                            @Html.TextAreaFor(m => m.Message, new { placeholder = "Your Message", id = "form-message", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Message)
                        </td>
                    </tr>
                    <tr class="blank-row"><td></td></tr>
                    <tr>
                        <td>
                            <input type="submit" class="btn btn-primary btn-group-sm" value="Send" />
                        </td>
                    </tr>
                </table>
            }

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
        <div class="col-md-4">
            <table>
                <tr>
                    <td class="address">
                        50 St. Clair Ave East, 3rd Floor<br />
                        Toronto, ON Canada M4T 1M9<br />
                        416-533-3777
                    </td>
                </tr>
                <tr class="blank-row"><td></td></tr>
                <tr>
                    <td>
                        <a id="contact-email" class="btn btn-primary btn-group-sm" href="mailto:Sales@reainc.net">Sales</a>
                        <a id="contact-email" class="btn btn-primary btn-group-sm" href="mailto:Support@reainc.net">Support</a>
                        <a id="contact-email" class="btn btn-primary btn-group-sm" href="mailto:Webmaster@reainc.net">Webmaster</a>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>

<style>
    .jumbotron {
        background: url(../Content/Images/Jumbotron/Crop.jpg) no-repeat top left;
        background-size: cover;
    }

    .address {
        font-size: 18px;
    }

    #form-message {
        min-height: 100px;
    }

    .blank-row {
        height: 5px !important;
    }

    table {
        width: 100%;
    }

    #contact-email {
    }
</style>