@model CompanyWebsite.Models.EmailFormModel

@{
    Layout = null;
}
@using CompanyWebsite.Helpers

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a class="navbar-item" href="#section-home">Home</a>
    <a class="navbar-item" href="#section-about">About</a>
    <a class="navbar-item" href="#section-portfolio">Portfolio</a>
    <a class="navbar-item" href="#section-clients">Clients</a>
    <a class="navbar-item" href="#section-products">Products</a>
    <a class="navbar-item" href="#section-services">Services</a>
    <a class="navbar-item" href="#section-contact">Contact</a>
    @if (Session["userID"] != null)
    {
        <a href="@Url.Action("Logout", "Practice")">Logout</a>
    }
    else
    {
        <a href="@Url.Action("Login", "Practice")">Login</a>
    }

    <div class="nav-footer">
        We Get I.T.<br />
        <img src="~/Content/Images/Rea50.jpg" />
    </div>
</div>

<div id="menu-box" onclick="openNav()">
    <span id="menu-text">MENU</span>
    <i class="fas fa-bars fa-2x" id="menu-icon"></i>
</div>

<div class="full" id="section-home">

    <div class="jumbotron" id="jumbotron-home">
        @{
            Flash f = AppHelper.GetFlash();
            if (f != null)
            {
                <div class="alert alert-@f.MessageType.ToString().ToLower()">
                    @f.Message
                </div>
            }
        }
        <p class="lead" id="home-paragraph">
            IT Consulting<br />
            Web Applications<br />
            Computer Support<br />
            We Get I.T.
        </p>
    </div>
    <br />
    <br />
    <div id="section-about">
        <br />
        <br />
        <br />
        <p class="lead" id="home-title">
            REA Inc.
        </p>
        <br />
        <p class="section-paragraph">
            REA Inc. does more than just sell technology – we combine small business and technology
            consulting expertise to develop IT solutions to your real business challenges.
        </p>
        <br />
        <br />
        <div class="row" id="row-home">
            <div class="col-md-3">
                <p class="follow"><i class="fas fa-comments fa-9x"></i></p>
                <h3>IT Consulting</h3>
            </div>
            <div class="col-md-3">
                <p class="follow"><i class="fas fa-code fa-9x"></i></p>
                <h3>Website Design</h3>
            </div>
            <div class="col-md-3">
                <p class="follow"><i class="fas fa-table fa-9x"></i></p>
                <h3>Application Design</h3>
            </div>
            <div class="col-md-3">
                <p class="follow"><i class="fas fa-memory fa-9x"></i></p>
                <h3>Hardware Installation</h3>
            </div>
        </div>
    </div>
</div>
<div class="full" id="section-portfolio">
    <br />
    <br />
    <br />
    <p class="lead" id="home-title">
        Portfolio
    </p>
    <br />
    <p class="section-paragraph">
        Take a look at some of our database business applications.
    </p>
    <br />
    <br />
    <div class="row">
        <div class="col-md-4">
            <h3 class="portfolio-headers">REVIZIT</h3>
            <p>
                An online SAAS project management system offering for small businesses: consultant and employee time
                tracking, task and project management, and client invoice preparation/generation.
                <br /><br />
                Please visit <a href="https://revizit.com/register.a5w">https://REVIZIT.com/register.a5w</a> to register for an online demo, and for further
                information on our software solution for small to mid-sized businesses.
            </p>
        </div>
        <div class="col-md-4">
            <h3 class="portfolio-headers">MyClientSchedule</h3>
            <p>
                An online SAAS patient/client scheduling/billing software for practitioners requiring a cost
                effective and simple solution to manage patients.
                <br /><br />
                Please visit: <a href="https://MyClientSchedule.com/">https://MyClientSchedule.com</a> to register for an online demo, and for further
                information on our software solution for small to mid-sized practitioners.
            </p>
        </div>
        <div class="col-md-4">
            <h3 class="portfolio-headers">Alpha Software Add-ons</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="col-md-4">
            <h3 class="portfolio-headers">REA Automailer</h3>
            <p>
                Email queuing package for Alpha 5(tm) software<br />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="col-md-4">
            <h3 class="portfolio-headers">REA CHASE API</h3>
            <p>
                CHASE(tm) Orbital Payments(tm) integration tool for Alpha 5(tm) software<br />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="col-md-4">
            <h3 class="portfolio-headers">REA ILS</h3>
            <p>
                Integrated Licensing System<br />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
</div>
<div class="full" id="section-clients">
    <br />
    <br />
    <br />
    <p class="lead" id="home-title">
        Clients
    </p>
    <br />
    <p class="section-paragraph">
        Helping customers succeed and run their business.
    </p>
    <br />
    <br />
    <div class="row" id="clients-row">
        <div class="col-md-4">
            <a href="https://www.carlsonwagonlit.com/"><div class="box" id="box1"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://americanpool.com/"><div class="box" id="box2"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://www.accupointmed.com/"><div class="box" id="box3"></div></a>
        </div>
    </div>
    <br />
    <br />
    <div class="row" id="clients-row">
        <div class="col-md-4">
            <a href="https://www.attorneygeneral.jus.gov.on.ca/english/"><div class="box" id="box4"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://mcss.gov.on.ca/en/mcss/index.aspx"><div class="box" id="box5"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://www.lhsc.on.ca/"><div class="box" id="box6"></div></a>
        </div>
    </div>
    <br />
    <br />
    <div class="row" id="clients-row">
        <div class="col-md-4">
            <a href="https://www.culinaryservicesgroup.com/"><div class="box" id="box7"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://gicwealth.ca/"><div class="box" id="box8"></div></a>
        </div>

        <div class="col-md-4">
            <a href="http://bookcentre.ca/"><div class="box" id="box9"></div></a>
        </div>
    </div>
    <br />
    <br />
    <div class="row" id="clients-row">
        <div class="col-md-4">
            <a href="http://www.benchmarksw.com/"><div class="box" id="box10"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://coldironcompanies.com/"><div class="box" id="box11"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://bidmytrucks.com/"><div class="box" id="box12"></div></a>
        </div>
    </div>
    <br />
    <br />
    <div class="row" id="clients-row">
        <div class="col-md-4">
            <a href="http://www.nettwerk.com/"><div class="box" id="box13"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://www.roghnu.com/"><div class="box" id="box14"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://www.adcoservice.com/"><div class="box" id="box15"></div></a>
        </div>
    </div>
    <br />
    <br />
    <div class="row" id="clients-row">
        <div class="col-md-4">
            <a href="https://broadwayhealth.ca/"><div class="box" id="box16"></div></a>
        </div>

        <div class="col-md-4">
            <a href="http://themassagetherapystudio.com/"><div class="box" id="box17"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://www.wccma.net/"><div class="box" id="box18"></div></a>
        </div>
    </div>
    <br />
    <br />
    <div class="row" id="clients-row">
        <div class="col-md-4">
            <a href="https://ocasi.org/"><div class="box" id="box19"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://www.afsdealers.com/"><div class="box" id="box20"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://www.sumolounge.ca/"><div class="box" id="box21"></div></a>
        </div>
    </div>
    <br />
    <br />
    <div class="row" id="clients-row">
        <div class="col-md-4">
            <a href="http://andersoncp.com/"><div class="box" id="box22"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://www.alphatogo.com/"><div class="box" id="box23"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://www.smartchoicetimeshareresales.com/"><div class="box" id="box24"></div></a>
        </div>
    </div>
    <br />
    <br />
    <div class="row" id="clients-row">
        <div class="col-md-4">
            <a href="https://sommers-law.ca/"><div class="box" id="box25"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://www.coastalsecuritygroup.net/"><div class="box" id="box26"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://iseinc.com/"><div class="box" id="box27"></div></a>
        </div>
    </div>
    <br />
    <br />
    <div class="row" id="clients-row">
        <div class="col-md-4">
            <a href="https://www.centralexteriors.com/"><div class="box" id="box28"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://www.petpickup.com/"><div class="box" id="box29"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://www.countryboyspainting.com/"><div class="box" id="box30"></div></a>
        </div>
    </div>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
</div>
<div class="full" id="section-products">
    <br />
    <br />
    <br />
    <p class="lead" id="home-title">
        Products
    </p>
    <br />
    <p class="section-paragraph">
        Get the most out of your business by saving time and money.
    </p>
    <br />
    <br />
    <div class="row">
        <div class="col-md-4">
            <h3>REVIZIT</h3>
            <p>
                An online SAAS project management system offering for small businesses: consultant and employee time
                tracking, task and project management, and client invoice preparation/generation.
                <br /><br />
                Please visit <a href="https://revizit.com/register.a5w">https://REVIZIT.com/register.a5w</a> to register for an online demo, and for further
                information on our software solution for small to mid-sized businesses.
            </p>
        </div>
        <div class="col-md-4">
            <h3>MyClientSchedule</h3>
            <p>
                An online SAAS patient/client scheduling/billing software for practitioners requiring a cost
                effective and simple solution to manage patients.
                <br /><br />
                Please visit: <a href="https://MyClientSchedule.com/">https://MyClientSchedule.com</a> to register for an online demo, and for further
                information on our software solution for small to mid-sized practitioners.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Alpha Software Add-ons</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="col-md-4">
            <h3>REA Automailer</h3>
            <p>
                Email queuing package for Alpha 5(tm) software<br />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="col-md-4">
            <h3>REA CHASE API</h3>
            <p>
                CHASE(tm) Orbital Payments(tm) integration tool for Alpha 5(tm) software<br />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="col-md-4">
            <h3>REA ILS</h3>
            <p>
                Integrated Licensing System<br />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
</div>
<div class="full" id="section-services">
    <br />
    <br />
    <br />
    <p class="lead" id="home-title">
        What We Do
    </p>
    <br />
    <p class="section-paragraph">
        We've got a team that can help you reach your goals and gain an advantage.
    </p>
    <br />
    <br />
    <div class="row">
        <div class="col-md-4">
            <h3>IT Consulting <i class="fas fa-comments"></i></h3>
            <p>
                REA Inc. combines small business and technology consulting expertise to develop IT solutions to your real
                business challenges.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Application Design <i class="fas fa-table"></i></h3>
            <p>
                It is important to make the correct decisions during the application design phase.  At REA inc. we offer robust,
                state of the art application design solutions.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Programming Skills <i class="fas fa-code"></i></h3>
            <p>
                We have experience with Coldfusion, Microsoft .NET, C#, VB.NET, C++, VB6, PHP, MySQL, Microsoft SQL, Pervasive SQL.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Troubleshooting <i class="fas fa-search"></i></h3>
            <p>
                Have malware or a virus? Or is your computer just running slow? Give us a call and we'll help figure out what the
                problem is.
            </p>
        </div>
        <div class="col-md-4">
            <h3>SUSTAIN <i class="fas fa-gavel"></i></h3>
            <p>
                SUSTAIN Justice Edition programming services.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Alpha Software <i class="fas fa-at"></i></h3>
            <p>
                Alpha Software v10.5, v11 and AlphaAnywhere programming services.
            </p>
        </div>
    </div>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
</div>
<div class="full" id="section-contact">
    <div class="jumbotron" id="jumbotron-contact">
        <h1>Contact Us</h1>
        <p class="lead">Got any questions? Reach out and let us help you.</p>
    </div>

    <div class="row" id="contact-row">
        <div class="col-md-5">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <table>
                    <tr>
                        <td>
                            @Html.TextBoxFor(m => m.FromName, new { placeholder = "Your Name", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FromName)
                        </td>
                    </tr>
                    <tr class="blank-row"><td></td></tr>
                    <tr>
                        <td>
                            @Html.TextBoxFor(m => m.FromEmail, new { placeholder = "Your Email", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FromEmail)
                        </td>
                    </tr>
                    <tr class="blank-row"><td></td></tr>
                    <tr>
                        <td>
                            @Html.TextAreaFor(m => m.Message, new { placeholder = "Your Message", id = "form-message", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Message)
                        </td>
                    </tr>
                    <tr class="blank-row"><td></td></tr>
                    <tr>
                        <td>
                            <input id="submit-button" type="submit" class="btn btn-primary btn-group-sm" value="Submit" />
                        </td>
                    </tr>
                </table>
            }

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
        <div class="col-md-5">
            <table>
                <tr>
                    <td class="address">
                        50 St. Clair Ave East, 3rd Floor<br />
                        Toronto, ON Canada M4T 1M9<br />
                        416-533-3777
                    </td>
                </tr>
                <tr class="blank-row"><td></td></tr>
                <tr>
                    <td>
                        <a id="contact-email" class="btn btn-primary btn-group-sm" href="mailto:Sales@reainc.net">Sales</a>
                        <a id="contact-email" class="btn btn-primary btn-group-sm" href="mailto:Support@reainc.net">Support</a>
                        <a id="contact-email" class="btn btn-primary btn-group-sm" href="mailto:Webmaster@reainc.net">Webmaster</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br />
</div>

<style>
    @@font-face {
        font-family: 'SFProDisplay-Light';
        src: url('/fonts/SF/SFProDisplay-Light.ttf') format("truetype");
    }

    .alert {
        width: 75%;
        margin-left: 10%;
        top: 1px;
        position: absolute;
    }

    * {
        font-family: 'SFProDisplay-Light';
    }

    .jumbotron {
        /*background: url(../Content/Images/Jumbotron/Balloons.jpg) no-repeat top left;*/
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top left;
    }

    /*SECTION JUMBOTRONS*/
    #jumbotron-practice {
        background-image: url(../Content/Images/Jumbotron/Code.jpg);
    }

    #jumbotron-home {
        background-image: url(../Content/Images/Jumbotron/Balloons2.jpg);
        height: 100%;
        background-attachment: fixed;
        margin-bottom: 0rem;
    }

    #section-about {
        margin-top: -48px;
    }

    #section-portfolio, #section-products {
        /*height: 100%;*/
        background-color: #e6e6e6;
    }

    .portfolio-headers {
        font-weight: bold;
    }

    #row-home {
        height: 55%;
    }

    #jumbotron-portfolio {
        background-image: url(../Content/Images/Jumbotron/Code.jpg);
    }

    #jumbotron-clients {
        background-image: url(../Content/Images/Jumbotron/Buildings.jpg);
    }

    #jumbotron-products {
        background-image: url(../Content/Images/Jumbotron/Beach.jpg);
    }

    #jumbotron-services {
        background-image: url(../Content/Images/Jumbotron/Trees.jpg);
    }

    #jumbotron-contact {
        background-image: url(../Content/Images/Jumbotron/Crop.jpg);
    }

    #jumbotron-careers {
        background-image: url(../Content/Images/Jumbotron/Plant.jpg);
    }

    #jumbotron-login {
        background-image: url(../Content/Images/Jumbotron/PC2.jpg);
    }

    /*HOME AND CAREERS COLUMNS*/
    h3, p.follow {
        text-align: center;
    }

    #home-paragraph {
        font-size: 4rem;
    }

    #home-title {
        font-size: 4rem;
        text-align: center;
        font-weight: bold;
    }

    .section-paragraph {
        font-size: 1.5rem;
        text-align: center;
        padding-left: 23%;
        padding-right: 23%;
    }

    /* SIDE NAV MENU */
    #menu-box {
        position: fixed;
        left: 90%;
        top: 5%;
        z-index: 1;
        background-color: #009FB2;
        width: 110px;
        padding: 5px 10px 1px 10px;
        cursor: pointer;
    }

        #menu-box:hover {
            color: white;
        }

    #menu-text {
        vertical-align: super;
        padding-right: 15px;
    }

    .nav-footer {
        color: #337ab7;
        margin: auto;
        display: table;
        position: absolute;
        bottom: 10%;
        text-align: center;
        right: 20%;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0%;
        right: 0%;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
    }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 20px;
            color: #337ab7;
            display: block;
            transition: 0.3s;
        }

            .sidenav a:hover {
                color: white;
                background-color: #337ab7;
            }

        .sidenav .closebtn {
            /*position: absolute;*/
            /*top: 0;*/
            /*right: 25px;*/
            font-size: 36px;
            /*margin-left: 50px;*/
        }

    @@media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

            .sidenav a {
                font-size: 15px;
            }
    }

    .row {
        padding-left: 10%;
        padding-right: 10%;
    }

    /*CLIENTS*/
    #clients-row {
        text-align: center;
    }

    #box1 {
        background-image: url("/Content/Images/Clients/CarlsonWagonlit2.png");
    }

    #box2 {
        background-image: url("/Content/Images/Clients/AmericanPool.jpg");
    }

    #box3 {
        background-image: url("/Content/Images/Clients/AccuPoint.png");
    }

    #box4 {
        background-image: url("/Content/Images/Clients/AttorneyGeneral.png");
    }

    #box5 {
        background-image: url("/Content/Images/Clients/ChildrenCommunitySocialServices.png");
    }

    #box6 {
        background-image: url("/Content/Images/Clients/LondonHealthSciencesCentre.JPG");
    }

    #box7 {
        background-image: url("/Content/Images/Clients/CSG.png");
    }

    #box8 {
        background-image: url("/Content/Images/Clients/GIC.png");
    }

    #box9 {
        background-image: url("/Content/Images/Clients/CanadianChildrenBook1.png");
    }

    #box10 {
        background-image: url("/Content/Images/Clients/BenchmarkSoftware.JPG");
    }

    #box11 {
        background-image: url("/Content/Images/Clients/Coldiron.png");
    }

    #box12 {
        background-image: url("/Content/Images/Clients/BidMyTrucks.png");
    }

    #box13 {
        background-image: url("/Content/Images/Clients/Nettwerk2.png");
    }

    #box14 {
        background-image: url("/Content/Images/Clients/Roghnu.png");
    }

    #box15 {
        background-image: url("/Content/Images/Clients/ADCO.png");
    }

    #box16 {
        background-image: url("/Content/Images/Clients/BroadwayHealth.png");
    }

    #box17 {
        background-image: url("/Content/Images/Clients/MassageTherapyStudio.png");
    }

    #box18 {
        background-image: url("/Content/Images/Clients/WCCMA.jpg");
    }

    #box19 {
        background-image: url("/Content/Images/Clients/OCASI.png");
    }

    #box20 {
        background-image: url("/Content/Images/Clients/AFS.png");
    }

    #box21 {
        background-image: url("/Content/Images/Clients/SumoLounge.jpg");
    }

    #box22 {
        background-image: url("/Content/Images/Clients/AndersonCommericalProperty.jpg");
    }

    #box23 {
        background-image: url("/Content/Images/Clients/AlphaToGo.jpg");
    }

    #box24 {
        background-image: url("/Content/Images/Clients/SmartChoice.png");
    }

    #box25 {
        background-image: url("/Content/Images/Clients/SommersLaw.gif");
    }

    #box26 {
        background-image: url("/Content/Images/Clients/CoastalSecurity.JPG");
    }

    #box27 {
        background-image: url("/Content/Images/Clients/ISE.png");
    }

    #box28 {
        background-image: url("/Content/Images/Clients/CentralRoof2.jpg");
    }

    #box29 {
        background-image: url("/Content/Images/Clients/PetPickup.png");
    }

    #box30 {
        background-image: url("/Content/Images/Clients/CBP.jpg");
    }

    .box {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        display: inline-block;
        width: 300px;
        height: 134px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

        .box::after {
            content: "";
            border-radius: 5px;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            opacity: 0;
            -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        .box:hover {
            -webkit-transform: scale(1.25, 1.25);
            transform: scale(1.25, 1.25);
        }

            .box:hover::after {
                opacity: 1;
            }

    /*CONTACT*/
    #submit-button {
        width: 100%;
    }

    .address {
        font-size: 18px;
    }

    #form-message {
        min-height: 100px;
    }

    .blank-row {
        height: 5px !important;
    }

    table {
        width: 100%;
    }

    #contact-row {
        padding-left: 25%;
        padding-right: 0%;
    }

    .form-control {
        border: none;
        border-radius: unset;
    }

        .form-control:focus {
            border-bottom: solid;
            border-bottom-color: #337ab7;
            outline-width: 0;
        }
</style>

<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

    $(function () {
        $('.navbar-item').bind('click', function (event) {
            event.preventDefault();
            var $anchor = $(this);
            console.log($anchor.attr('href'))
            $('html, body').stop().animate({
                scrollTop: $($anchor.attr('href')).offset().top
            }, 1000);
            event.preventDefault();
        });
    });

    $(function () {
        $(document).on('click', function (e) {
            if (e.target.id != 'menu-box' && e.target.id != 'menu-text' && e.target.id != 'menu-icon') {
                closeNav();
            }
        })
    });

    function moveUp(container, object, speed) {
        var speed = 1200 || speed;

        container.css("position", "relative");
        object.css("position", "absolute");
        object.css("top", container.height() + "px");
        object.css("opacity", "0");

        object.animate({
            top: 60,
            opacity: 1
        }, speed);
    }

    moveUp($("#jumbotron-home"), $("#home-paragraph"));
</script>