@model CompanyWebsite.Models.EmailFormModel

@{
    Layout = null;
}
@using CompanyWebsite.Helpers

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="~/Content/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="~/Content/slick/slick-theme.css" />

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a class="navbar-item" href="#section-home">Home</a>
    <a class="navbar-item" href="#section-about">About</a>
    <a class="navbar-item" href="#section-services">Services</a>
    <a class="navbar-item" href="#section-clients">Clients</a>
    <a class="navbar-item" href="#section-contact">Contact</a>
    @if (Session["userID"] != null)
    {
        <a href="@Url.Action("Logout", "Practice")">Logout</a>
    }
    else
    {
        <a href="@Url.Action("Login", "Practice")">Login</a>
    }

    <div class="nav-footer">
        We Get I.T.<br />
        <img src="~/Content/Images/Rea50.jpg" />
    </div>
</div>

<div id="menu-box" onclick="openNav()">
    <span id="menu-text">MENU</span>
    <i class="fas fa-bars fa-2x" id="menu-icon"></i>
</div>

<div class="full" id="section-home">

    <div class="jumbotron" id="jumbotron-home">
        @{
            Flash f = AppHelper.GetFlash();
            if (f != null)
            {
                <div class="alert alert-@f.MessageType.ToString().ToLower()">
                    @f.Message
                </div>
            }
        }
        <p class="lead" id="home-paragraph">
            IT Consulting<br />
            Web Applications<br />
            Computer Support<br />
            We Get I.T.
        </p>
    </div>
    <br />
    <br />
    <div id="section-about">
        <br />
        <br />
        <br />
        <p class="lead" id="home-title">
            REA Inc.
        </p>
        <br />
        <p class="section-paragraph">
            REA Inc. does more than just sell technology – we combine small business and technology
            consulting expertise to develop IT solutions to your real business challenges.
        </p>
        <br />
        <br />
        <div class="row" id="row-home">
            <div class="col-md-3 stats">
                <div class="counting" data-count="1000">0</div>
                <h3>Cups of Coffee</h3>
            </div>
            <div class="col-md-3 stats">
                <div class="counting" data-count="100">0</div>
                <h3>Projects Completed</h3>
            </div>
            <div class="col-md-3 stats">
                <div class="counting" data-count="30">0</div>
                <h3>Happy Clients</h3>
            </div>
            <div class="col-md-3 stats">
                <div class="counting" data-count="7">0</div>
                <h3>Developers</h3>
            </div>
            <!--
            <div class="col-md-3">
                <p class="follow"><i class="fas fa-comments fa-9x"></i></p>
                <h3>IT Consulting</h3>
            </div>
            <div class="col-md-3">
                <p class="follow"><i class="fas fa-code fa-9x"></i></p>
                <h3>Website Design</h3>
            </div>
            <div class="col-md-3">
                <p class="follow"><i class="fas fa-table fa-9x"></i></p>
                <h3>Application Design</h3>
            </div>
            <div class="col-md-3">
                <p class="follow"><i class="fas fa-memory fa-9x"></i></p>
                <h3>Hardware Installation</h3>
            </div>
            -->
        </div>
    </div>
</div>
<div class="full" id="section-services">
    <br />
    <br />
    <br />
    <p class="lead" id="services-title">
        What We Do
    </p>
    <p class="services-description">
        We've got a team that can help you reach your goals and gain an advantage
    </p>
    <br />
    <br />
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h3 class="service-heading">IT Consulting <i class="fas fa-comments"></i></h3>
            <br />
            <p class="service-paragraph">
                Our dedicated team of programmers and analysts provide high-quality and skilled support in a timely manner.
                We prevent problems, put out fires, and everything in between in order to help you move your business forward.
            </p>
            <br />
        </div>
        <div class="col-md-5">
            <h3 class="service-heading">Application Design <i class="fas fa-table"></i></h3>
            <br />
            <p class="service-paragraph">
                Our experts can design a new IT infrastructure for your company or simply add to and improve your existing one.
                We help make the correct decisions in each phase and offer robust, state of the art application design solutions.
            </p>
            <br />
        </div>
        <div class="col-md-5">
            <h3 class="service-heading">Programming Skills <i class="fas fa-code"></i></h3>
            <br />
            <p class="service-paragraph">
                We have experience in many programming languages and frameworks including Microsoft C# .NET, ASP.NET MVC, C++,
                Visual Basic .NET, Visual Basic 6, PHP, Adobe ColdFusion, MySQL, Microsoft SQL, Pervasive PSQL, and Crystal Reports.
            </p>
            <br />
        </div>
        <div class="col-md-5">
            <h3 class="service-heading">Troubleshooting <i class="fas fa-search"></i></h3>
            <br />
            <p class="service-paragraph">
                We can take care of all the proper security measures to protect your data from any unauthorized access or attacks.
                Assessments can determine the weaknesses that could be exploited leading to system vulnerabilities.
            </p>
            <br />
        </div>
        <div class="col-md-5">
            <h3 class="service-heading">Sustain <i class="fas fa-gavel"></i></h3>
            <br />
            <p class="service-paragraph">
                We provide Sustain Justice Edition case management system application, configuration, and interface support.
            </p>
            <br />
        </div>
        <div class="col-md-5">
            <h3 class="service-heading">Alpha <i class="fas fa-at"></i></h3>
            <br />
            <p class="service-paragraph">
                We provide programming services for most versions of Alpha Software including Alpha Five and Alpha Anywhere.
            </p>
            <br />
        </div>
    </div>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
</div>
<div class="full" id="section-clients">
    <br />
    <br />
    <br />
    <p class="lead" id="services-title">
        Who We Help
    </p>
    <p class="services-description">
        Here are some clients we help improve run their business
    </p>
    <br />
    <br />
    <div class="carousel-container">
        <div class="clients-carousel">
            <div class="box" id="client-box1"></div>
            <div class="box" id="client-box2"></div>
            <div class="box" id="client-box3"></div>
            <div class="box" id="client-box4"></div>
            <div class="box" id="client-box5"></div>
            <div class="box" id="client-box6"></div>
            <div class="box" id="client-box7"></div>
            <div class="box" id="client-box8"></div>
            <div class="box" id="client-box9"></div>
            <div class="box" id="client-box10"></div>
            <div class="box" id="client-box11"></div>
            <div class="box" id="client-box12"></div>
            <div class="box" id="client-box13"></div>
            <div class="box" id="client-box14"></div>
            <div class="box" id="client-box15"></div>
            <div class="box" id="client-box16"></div>
            <div class="box" id="client-box17"></div>
            <div class="box" id="client-box18"></div>
            <div class="box" id="client-box19"></div>
            <div class="box" id="client-box20"></div>
            <div class="box" id="client-box21"></div>
            <div class="box" id="client-box22"></div>
            <div class="box" id="client-box23"></div>
            <div class="box" id="client-box24"></div>
            <div class="box" id="client-box25"></div>
            <div class="box" id="client-box26"></div>
            <div class="box" id="client-box27"></div>
            <div class="box" id="client-box28"></div>
            <div class="box" id="client-box29"></div>
            <div class="box" id="client-box30"></div>
        </div>
    </div>
    <!--
    <div class="row" id="clients-row">
        <div class="col-md-4">
            <a href="https://www.carlsonwagonlit.com/"><div class="box" id="box1"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://americanpool.com/"><div class="box" id="box2"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://www.accupointmed.com/"><div class="box" id="box3"></div></a>
        </div>
    </div>
    <br />
    <br />
    <div class="row" id="clients-row">
        <div class="col-md-4">
            <a href="https://www.attorneygeneral.jus.gov.on.ca/english/"><div class="box" id="box4"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://mcss.gov.on.ca/en/mcss/index.aspx"><div class="box" id="box5"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://www.lhsc.on.ca/"><div class="box" id="box6"></div></a>
        </div>
    </div>
    <br />
    <br />
    <div class="row" id="clients-row">
        <div class="col-md-4">
            <a href="https://www.culinaryservicesgroup.com/"><div class="box" id="box7"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://gicwealth.ca/"><div class="box" id="box8"></div></a>
        </div>

        <div class="col-md-4">
            <a href="http://bookcentre.ca/"><div class="box" id="box9"></div></a>
        </div>
    </div>
    <br />
    <br />
    <div class="row" id="clients-row">
        <div class="col-md-4">
            <a href="http://www.benchmarksw.com/"><div class="box" id="box10"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://coldironcompanies.com/"><div class="box" id="box11"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://bidmytrucks.com/"><div class="box" id="box12"></div></a>
        </div>
    </div>
    <br />
    <br />
    <div class="row" id="clients-row">
        <div class="col-md-4">
            <a href="http://www.nettwerk.com/"><div class="box" id="box13"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://www.roghnu.com/"><div class="box" id="box14"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://www.adcoservice.com/"><div class="box" id="box15"></div></a>
        </div>
    </div>
    <br />
    <br />
    <div class="row" id="clients-row">
        <div class="col-md-4">
            <a href="https://broadwayhealth.ca/"><div class="box" id="box16"></div></a>
        </div>

        <div class="col-md-4">
            <a href="http://themassagetherapystudio.com/"><div class="box" id="box17"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://www.wccma.net/"><div class="box" id="box18"></div></a>
        </div>
    </div>
    <br />
    <br />
    <div class="row" id="clients-row">
        <div class="col-md-4">
            <a href="https://ocasi.org/"><div class="box" id="box19"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://www.afsdealers.com/"><div class="box" id="box20"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://www.sumolounge.ca/"><div class="box" id="box21"></div></a>
        </div>
    </div>
    <br />
    <br />
    <div class="row" id="clients-row">
        <div class="col-md-4">
            <a href="http://andersoncp.com/"><div class="box" id="box22"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://www.alphatogo.com/"><div class="box" id="box23"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://www.smartchoicetimeshareresales.com/"><div class="box" id="box24"></div></a>
        </div>
    </div>
    <br />
    <br />
    <div class="row" id="clients-row">
        <div class="col-md-4">
            <a href="https://sommers-law.ca/"><div class="box" id="box25"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://www.coastalsecuritygroup.net/"><div class="box" id="box26"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://iseinc.com/"><div class="box" id="box27"></div></a>
        </div>
    </div>
    <br />
    <br />
    <div class="row" id="clients-row">
        <div class="col-md-4">
            <a href="https://www.centralexteriors.com/"><div class="box" id="box28"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://www.petpickup.com/"><div class="box" id="box29"></div></a>
        </div>

        <div class="col-md-4">
            <a href="https://www.countryboyspainting.com/"><div class="box" id="box30"></div></a>
        </div>
    </div>
    -->
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
</div>
<div class="full" id="section-contact">
    <br />
    <br />
    <br />
    <p class="lead" id="services-title">
        Where We Are
    </p>
    <p class="services-description">
        Contact us and let us answer any of your questions
    </p>
    <br />
    <br />
    <div class="row" id="contact-row">
        <div class="col-md-5">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <table>
                    <tr>
                        <td>
                            @Html.TextBoxFor(m => m.FromName, new { placeholder = "Your Name", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FromName)
                        </td>
                    </tr>
                    <tr class="blank-row"><td></td></tr>
                    <tr>
                        <td>
                            @Html.TextBoxFor(m => m.FromEmail, new { placeholder = "Your Email", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FromEmail)
                        </td>
                    </tr>
                    <tr class="blank-row"><td></td></tr>
                    <tr>
                        <td>
                            @Html.TextAreaFor(m => m.Message, new { placeholder = "Your Message", id = "form-message", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Message)
                        </td>
                    </tr>
                    <tr class="blank-row"><td></td></tr>
                    <tr>
                        <td>
                            <input id="submit-button" type="submit" class="btn btn-primary btn-group-sm" value="Submit" />
                        </td>
                    </tr>
                </table>
            }

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
        <div class="col-md-5">
            <table>
                <tr>
                    <td class="address">
                        50 St. Clair Ave East, 3rd Floor<br />
                        Toronto, ON Canada M4T 1M9<br />
                        416-533-3777
                    </td>
                </tr>
                <tr class="blank-row"><td></td></tr>
                <tr>
                    <td>
                        <a id="contact-email" class="btn btn-primary btn-group-sm" href="mailto:Sales@reainc.net">Sales</a>
                        <a id="contact-email" class="btn btn-primary btn-group-sm" href="mailto:Support@reainc.net">Support</a>
                        <a id="contact-email" class="btn btn-primary btn-group-sm" href="mailto:Webmaster@reainc.net">Webmaster</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
</div>

<style>
    @@font-face {
        font-family: 'SFProDisplay-Light';
        src: url('/fonts/SF/SFProDisplay-Light.ttf') format("truetype");
    }

    @@font-face {
        font-family: 'SFProDisplay-Medium';
        src: url('/fonts/SF/SFProDisplay-Medium.ttf') format("truetype");
    }

    @@font-face {
        font-family: 'SFProDisplay-Heavy';
        src: url('/fonts/SF/SFProDisplay-Heavy.ttf') format("truetype");
    }

    @@font-face {
        font-family: 'SFProDisplay-Bold';
        src: url('/fonts/SF/SFProDisplay-Bold.ttf') format("truetype");
    }

    @@font-face {
        font-family: 'SFProDisplay-Black';
        src: url('/fonts/SF/SFProDisplay-Black.ttf') format("truetype");
    }

    @@font-face {
        font-family: 'SFProDisplay-Regular';
        src: url('/fonts/SF/SFProDisplay-Regular.ttf') format("truetype");
    }

    @@font-face {
        font-family: 'SFProDisplay-Semibold';
        src: url('/fonts/SF/SFProDisplay-Semibold.ttf') format("truetype");
    }

    @@font-face {
        font-family: 'SFProDisplay-Thin';
        src: url('/fonts/SF/SFProDisplay-Thin.ttf') format("truetype");
    }

    @@font-face {
        font-family: 'SFProDisplay-Ultralight';
        src: url('/fonts/SF/SFProDisplay-Ultralight.ttf') format("truetype");
    }

    .alert {
        width: 75%;
        margin-left: 10%;
        top: 1px;
        position: absolute;
    }

    * {
        font-family: 'SFProDisplay-Light';
    }

    .jumbotron {
        /*background: url(../Content/Images/Jumbotron/Balloons.jpg) no-repeat top left;*/
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top left;
    }

    /*SECTION JUMBOTRONS*/
    #jumbotron-home {
        background-image: url(../Content/Images/Jumbotron/Balloons2.jpg);
        height: 100%;
        background-attachment: fixed;
        margin-bottom: 0rem;
    }

    #section-about {
        margin-top: -48px;
    }

    #section-contact {
        /*height: 100%;*/
        background-color: #e6e6e6;
    }

    .portfolio-headers {
        font-weight: bold;
    }

    #row-home {
        height: 55%;
    }

    .stats {
        text-align: center;
        font-size: 70px;
        font-weight: bold;
    }

    .service-heading {
        font-weight: bold;
        font-size: 2rem;
    }

    /*HOME AND CAREERS COLUMNS*/
    h3, p.follow {
        text-align: center;
    }

    #home-paragraph {
        font-size: 4rem;
    }

    #home-title {
        font-size: 4rem;
        text-align: center;
        font-weight: bold;
    }

    #services-title {
        font-size: 1.5rem;
        text-align: center;
        font-weight: bold;
    }

    .section-paragraph {
        font-size: 1.5rem;
        text-align: center;
        padding-left: 23%;
        padding-right: 23%;
    }

    .services-description {
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        padding-left: 20%;
        padding-right: 20%;
    }

    .service-paragraph {
        font-size: 1.2rem;
    }

    /* SIDE NAV MENU */
    #menu-box {
        position: fixed;
        left: 90%;
        top: 5%;
        z-index: 1;
        /*background-color: #009FB2;*/
        width: 110px;
        padding: 5px 10px 1px 10px;
        cursor: pointer;
    }

    #menu-box:hover {
        /*color: #009FB2;*/
    }

    #menu-text {
        vertical-align: super;
        padding-right: 15px;
    }

    .nav-footer {
        color: #337ab7;
        margin: auto;
        display: table;
        position: absolute;
        bottom: 10%;
        text-align: center;
        right: 20%;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0%;
        right: 0%;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #337ab7;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: white;
        background-color: #337ab7;
    }

    .sidenav .closebtn {
        /*position: absolute;*/
        /*top: 0;*/
        /*right: 25px;*/
        font-size: 36px;
        /*margin-left: 50px;*/
    }

    @@media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 15px;
        }
    }

    .row {
        padding-left: 10%;
        padding-right: 10%;
    }

    /*CLIENTS*/
    #clients-row {
        text-align: center;
    }

    #client-box1 {
        background-image: url("/Content/Images/Clients/CarlsonWagonlit2.png");
    }

    #client-box2 {
        background-image: url("/Content/Images/Clients/AmericanPool.jpg");
    }

    #client-box3 {
        background-image: url("/Content/Images/Clients/AccuPoint.png");
    }

    #client-box4 {
        background-image: url("/Content/Images/Clients/AttorneyGeneral.png");
    }

    #client-box5 {
        background-image: url("/Content/Images/Clients/ChildrenCommunitySocialServices.png");
    }

    #client-box6 {
        background-image: url("/Content/Images/Clients/LondonHealthSciencesCentre.JPG");
    }

    #client-box7 {
        background-image: url("/Content/Images/Clients/CSG.png");
    }

    #client-box8 {
        background-image: url("/Content/Images/Clients/GIC.png");
    }

    #client-box9 {
        background-image: url("/Content/Images/Clients/CanadianChildrenBook1.png");
    }

    #client-box10 {
        background-image: url("/Content/Images/Clients/BenchmarkSoftware.JPG");
    }

    #client-box11 {
        background-image: url("/Content/Images/Clients/Coldiron.png");
    }

    #client-box12 {
        background-image: url("/Content/Images/Clients/BidMyTrucks.png");
    }

    #client-box13 {
        background-image: url("/Content/Images/Clients/Nettwerk2.png");
    }

    #client-box14 {
        background-image: url("/Content/Images/Clients/Roghnu.png");
    }

    #client-box15 {
        background-image: url("/Content/Images/Clients/ADCO.png");
    }

    #client-box16 {
        background-image: url("/Content/Images/Clients/BroadwayHealth.png");
    }

    #client-box17 {
        background-image: url("/Content/Images/Clients/MassageTherapyStudio.png");
    }

    #client-box18 {
        background-image: url("/Content/Images/Clients/WCCMA.jpg");
    }

    #client-box19 {
        background-image: url("/Content/Images/Clients/OCASI.png");
    }

    #client-box20 {
        background-image: url("/Content/Images/Clients/AFS.png");
    }

    #client-box21 {
        background-image: url("/Content/Images/Clients/SumoLounge.jpg");
    }

    #client-box22 {
        background-image: url("/Content/Images/Clients/AndersonCommericalProperty.jpg");
    }

    #client-box23 {
        background-image: url("/Content/Images/Clients/AlphaToGo.jpg");
    }

    #client-box24 {
        background-image: url("/Content/Images/Clients/SmartChoice.png");
    }

    #client-box25 {
        background-image: url("/Content/Images/Clients/SommersLaw.gif");
    }

    #client-box26 {
        background-image: url("/Content/Images/Clients/CoastalSecurity.JPG");
    }

    #client-box27 {
        background-image: url("/Content/Images/Clients/ISE.png");
    }

    #client-box28 {
        background-image: url("/Content/Images/Clients/CentralRoof2.jpg");
    }

    #client-box29 {
        background-image: url("/Content/Images/Clients/PetPickup.png");
    }

    #client-box30 {
        background-image: url("/Content/Images/Clients/CBP.jpg");
    }

    .box {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        display: inline-block;
        width: 300px;
        height: 134px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .clients-carousel {
        margin: 60px auto;
        width: 75%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }

    /*
    .box::after {
        content: "";
        border-radius: 5px;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        opacity: 0;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .box:hover {
        -webkit-transform: scale(1.25, 1.25);
        transform: scale(1.25, 1.25);
    }

    .box:hover::after {
        opacity: 1;
    }
    */

    /*CONTACT*/
    #submit-button {
        width: 100%;
    }

    .address {
        font-size: 18px;
    }

    #form-message {
        min-height: 100px;
    }

    .blank-row {
        height: 5px !important;
    }

    table {
        width: 100%;
    }

    #contact-row {
        padding-left: 25%;
        padding-right: 0%;
    }

    .form-control {
        border: none;
        border-radius: unset;
    }

    .form-control:focus {
        border-bottom: solid;
        border-bottom-color: #337ab7;
        outline-width: 0;
    }
</style>

<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/Content/slick/slick.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.portfolio-carousel').slick({
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: true,
        });
    });

    $(document).ready(function () {
        $('.clients-carousel').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 3,
            arrows: true,
        });
    });

    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

    $(function () {
        $('.navbar-item').bind('click', function (event) {
            event.preventDefault();
            var $anchor = $(this);
            console.log($anchor.attr('href'))
            $('html, body').stop().animate({
                scrollTop: $($anchor.attr('href')).offset().top
            }, 1000);
            event.preventDefault();
        });
    });

    $(function () {
        $(document).on('click', function (e) {
            if (e.target.id != 'menu-box' && e.target.id != 'menu-text' && e.target.id != 'menu-icon') {
                closeNav();
            }
        })
    });

    function moveUp(container, object, speed) {
        var speed = 1200 || speed;

        container.css("position", "relative");
        object.css("position", "absolute");
        object.css("top", container.height() + "px");
        object.css("opacity", "0");

        object.animate({
            top: 60,
            opacity: 1
        }, speed);
    }

    moveUp($("#jumbotron-home"), $("#home-paragraph"));

    $('.counting').each(function () {
        var $this = $(this),
            countTo = $this.attr('data-count');

        $({ countNum: $this.text() }).animate({
            countNum: countTo
        },

            {

                duration: 3000,
                easing: 'linear',
                step: function () {
                    $this.text(Math.floor(this.countNum));
                },
                complete: function () {
                    $this.text(this.countNum);
                }

            });
    });
</script>