@model CompanyWebsite.Models.EmailFormModel
@{
    ViewBag.Title = "Index";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<div class="jumbotron" id="jumbotron-practice">
    @if (Session["userFirstName"] != null)
    {
        <h1>Hi @Session["userFirstName"].ToString()</h1>
    }
    <p class="lead">Practice code.</p>
    <p><a href="../Home" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="full" id="section-home">

    <div class="jumbotron" id="jumbotron-home">

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#section-home">Home</a>
            <a href="#section-portfolio">Portfolio</a>
            <a href="#section-clients">Clients</a>
            <a href="#section-products">Products</a>
            <a href="#section-services">Services</a>
            <a href="#section-contact">Contact</a>
            <a href="#section-careers">Careers</a>
            <a href="@Url.Action("Index", "Login")">Login</a>
        </div>

        <i class="fas fa-bars fa-2x" onclick="openNav()" id="menu-icon"></i>

        <h1>REA Inc.</h1>
        <p class="lead">IT Consulting, Web Applications, Computer Support.  We Get I.T.</p>
        <p><a href="../Home" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>
<div class="full" id="section-portfolio">
    <div class="jumbotron" id="jumbotron-portfolio">
        <h1>Portfolio</h1>
        <p class="lead">Take a look at some of our database business applications.</p>
        <p><a href="../Home" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>
<div class="full" id="section-clients">
    <div class="jumbotron" id="jumbotron-clients">
        <h1>Clients</h1>
        <p class="lead">Helping customers succeed and run their business.</p>
        <p><a href="../Home" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>
<div class="full" id="section-products">
    <div class="jumbotron" id="jumbotron-products">
        <h1>Products</h1>
        <p class="lead">Get the most out of your business by saving time and money.</p>
        <p><a href="../Home" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>
<div class="full" id="section-services">
    <div class="jumbotron" id="jumbotron-services">
        <h1>Services</h1>
        <p class="lead">Reach your goals and gain an advantage.</p>
        <p><a href="../Home" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>
<div class="full" id="section-contact">
    <div class="jumbotron" id="jumbotron-contact">
        <h1>Contact</h1>
        <div class="row">
            <div class="col-md-4">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <table>
                        <tr>
                            <td>
                                @Html.TextBoxFor(m => m.FromName, new { placeholder = "Your Name", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.FromName)
                            </td>
                        </tr>
                        <tr class="blank-row"><td></td></tr>
                        <tr>
                            <td>
                                @Html.TextBoxFor(m => m.FromEmail, new { placeholder = "Your Email", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.FromEmail)
                            </td>
                        </tr>
                        <tr class="blank-row"><td></td></tr>
                        <tr>
                            <td>
                                @Html.TextAreaFor(m => m.Message, new { placeholder = "Your Message", id = "form-message", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Message)
                            </td>
                        </tr>
                        <tr class="blank-row"><td></td></tr>
                        <tr>
                            <td>
                                <input type="submit" class="btn btn-primary btn-group-sm" value="Send" />
                            </td>
                        </tr>
                    </table>
                }

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </div>
            <div class="col-md-4">
                <table>
                    <tr>
                        <td class="address">
                            50 St. Clair Ave East, 3rd Floor<br />
                            Toronto, ON Canada M4T 1M9<br />
                            416-533-3777
                        </td>
                    </tr>
                    <tr class="blank-row"><td></td></tr>
                    <tr>
                        <td>
                            <a id="contact-email" class="btn btn-primary btn-group-sm" href="mailto:Sales@reainc.net">Sales</a>
                            <a id="contact-email" class="btn btn-primary btn-group-sm" href="mailto:Support@reainc.net">Support</a>
                            <a id="contact-email" class="btn btn-primary btn-group-sm" href="mailto:Webmaster@reainc.net">Webmaster</a>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
<div class="full" id="section-careers">
    <div class="jumbotron" id="jumbotron-careers">
        <h1>Careers</h1>
        <p class="lead">Make a difference with us.</p>
        <p><a href="../Home" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>

<style>
    .jumbotron {
        /*background: url(../Content/Images/Jumbotron/Balloons.jpg) no-repeat top left;*/
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top left;
    }

    #jumbotron-practice {
        background-image: url(../Content/Images/Jumbotron/Code.jpg);
    }

    #jumbotron-home {
        background-image: url(../Content/Images/Jumbotron/Balloons.jpg);
    }

    #jumbotron-portfolio {
        background-image: url(../Content/Images/Jumbotron/Code.jpg);
    }

    #jumbotron-clients {
        background-image: url(../Content/Images/Jumbotron/Buildings.jpg);
    }

    #jumbotron-products {
        background-image: url(../Content/Images/Jumbotron/Beach.jpg);
    }

    #jumbotron-services {
        background-image: url(../Content/Images/Jumbotron/Trees.jpg);
    }

    #jumbotron-contact {
        background-image: url(../Content/Images/Jumbotron/Crop.jpg);
    }

    #jumbotron-careers {
        background-image: url(../Content/Images/Jumbotron/Plant.jpg);
    }

    #jumbotron-login {
        background-image: url(../Content/Images/Jumbotron/PC2.jpg);
    }

    .full {
        height: 100vh;
        border: solid red;
    }

    h3, p.follow {
        text-align: center;
    }

    .address {
        font-size: 18px;
    }

    #form-message {
        min-height: 100px;
    }

    .blank-row {
        height: 5px !important;
    }

    table {
        width: 100%;
    }

    #contact-email {
    }

    /* SIDE NAV MENU */
    .sidenav {
      height: 100%;
      width: 0; 
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #337ab7;
      overflow-x: hidden;
      padding-top: 60px;
      transition: 0.5s;
    }

    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: white;
      display: block;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: #337ab7;
      background-color: white;
    }

    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

    @@media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
</style>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>